{
  "openapi": "3.0.3",
  "info": {
    "title": "BioDoc - Justificativas e Auditoria",
    "description": "Justificativas de atendimento e trilha de auditoria na plataforma BioDoc: consulta de justificativas cadastradas, registro de justificativa sem foto, consulta de log por referência e busca de auditorias.",
    "version": "1.0",
    "contact": {
      "name": "BioDoc",
      "url": "https://docs.biodoc.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.biodoc.com.br/api",
      "description": "Sandbox"
    },
    {
      "url": "https://api.biodoc.com.br/api",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/integrations/justify": {
      "get": {
        "tags": [
          "Justificativas e Auditoria"
        ],
        "summary": "Buscar justificativas cadastradas",
        "description": "Busca as justificativas cadastradas para o token informado.",
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "required": false,
            "description": "Quando informado, filtra entre as justificativas cadastradas.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição processada com sucesso."
          },
          "401": {
            "description": "Erro de autorização."
          },
          "500": {
            "description": "Erro interno."
          }
        }
      }
    },
    "/card/integration/justify": {
      "post": {
        "tags": [
          "Justificativas e Auditoria"
        ],
        "summary": "Registrar justificativa sem foto",
        "description": "Realiza uma justificativa (sem foto) para o beneficiário.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "justify"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Número identificador do cartão."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do beneficiário do cartão."
                  },
                  "IdJustifyMessage": {
                    "type": "integer",
                    "description": "Id retornado do endpoint GET /integrations/justify."
                  },
                  "justify": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Justificativa de verificação sem captura (máximo 100 caracteres)."
                  },
                  "detail": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON chave/valor com detalhes adicionais."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requisição processada com sucesso."
          },
          "400": {
            "description": "Requisição mal formada, parâmetros inválidos."
          },
          "401": {
            "description": "Erro de autorização."
          },
          "422": {
            "description": "Não foi possível concluir o processamento."
          },
          "500": {
            "description": "Erro interno."
          }
        }
      }
    },
    "/integrations/log/{reference_Id}": {
      "get": {
        "tags": [
          "Justificativas e Auditoria"
        ],
        "summary": "Consultar interação por reference_Id",
        "description": "Consulta uma interação pelo reference_Id.",
        "parameters": [
          {
            "name": "reference_Id",
            "in": "path",
            "required": true,
            "description": "Número identificador do log.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição processada com sucesso."
          },
          "401": {
            "description": "Erro de autorização."
          },
          "500": {
            "description": "Erro interno."
          }
        }
      }
    },
    "/logs/external-audits": {
      "get": {
        "tags": [
          "Justificativas e Auditoria"
        ],
        "summary": "Buscar auditorias externas",
        "description": "Busca auditorias associadas a uma carteirinha, opcionalmente por intervalo de datas.",
        "parameters": [
          {
            "name": "idCard",
            "in": "query",
            "required": true,
            "description": "Carteirinha do beneficiário para busca das auditorias.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initialDate",
            "in": "query",
            "required": false,
            "description": "Quando informada, realiza busca com este início de data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Quando informada, realiza busca com este fim de data.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição processada com sucesso."
          },
          "401": {
            "description": "Erro de autorização."
          },
          "500": {
            "description": "Erro interno."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token de acesso BioDoc enviado no header Authorization com a palavra 'Bearer'."
      }
    }
  }
}
