{
  "openapi": "3.0.3",
  "info": {
    "version": "3.0.91",
    "title": "Mailchimp Marketing API - automations",
    "contact": {
      "name": "Mailchimp API Support",
      "email": "apihelp@mailchimp.com"
    },
    "x-permalink": "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json"
  },
  "servers": [
    {
      "url": "https://server.api.mailchimp.com/3.0"
    }
  ],
  "tags": [],
  "paths": {
    "/automations": {
      "get": {
        "summary": "List automations",
        "description": "Get a summary of an account's classic automations.",
        "operationId": "getAutomations",
        "parameters": [
          {
            "name": "count",
            "x-title": "Count",
            "in": "query",
            "description": "The number of records to return. Default value is 10. Maximum value is 1000",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 10
            }
          },
          {
            "name": "offset",
            "x-title": "Offset",
            "in": "query",
            "description": "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this is the number of records from a collection to skip. Default value is 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "x-title": "Fields",
            "in": "query",
            "description": "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "exclude_fields",
            "x-title": "Exclude Fields",
            "in": "query",
            "description": "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "before_create_time",
            "x-title": "Before Create Time",
            "in": "query",
            "description": "Restrict the response to automations created before this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "since_create_time",
            "x-title": "Since Create Time",
            "in": "query",
            "description": "Restrict the response to automations created after this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before_start_time",
            "x-title": "Before Start Time",
            "in": "query",
            "description": "Restrict the response to automations started before this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "since_start_time",
            "x-title": "Since Start Time",
            "in": "query",
            "description": "Restrict the response to automations started after this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "x-title": "Status",
            "in": "query",
            "description": "Restrict the results to automations with the specified status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "save",
                "paused",
                "sending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An array of objects, each representing an Automation workflow.",
                  "properties": {
                    "automations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Automation Workflow",
                        "description": "A summary of an individual Automation workflow's settings and content.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "Automation Campaign ID",
                            "description": "A string that identifies the Automation.",
                            "readOnly": true
                          },
                          "create_time": {
                            "type": "string",
                            "title": "Create Time",
                            "format": "date-time",
                            "description": "The date and time the Automation was created in ISO 8601 format.",
                            "readOnly": true
                          },
                          "start_time": {
                            "type": "string",
                            "title": "Start Time",
                            "format": "date-time",
                            "description": "The date and time the Automation was started in ISO 8601 format.",
                            "readOnly": true
                          },
                          "status": {
                            "type": "string",
                            "title": "Automation Status",
                            "description": "The current status of the Automation.",
                            "enum": [
                              "save",
                              "paused",
                              "sending"
                            ],
                            "readOnly": true
                          },
                          "emails_sent": {
                            "type": "integer",
                            "title": "Emails Sent",
                            "description": "The total number of emails sent for the Automation.",
                            "readOnly": true
                          },
                          "recipients": {
                            "type": "object",
                            "title": "List",
                            "description": "List settings for the Automation.",
                            "properties": {
                              "list_id": {
                                "type": "string",
                                "title": "List ID",
                                "description": "The unique list id."
                              },
                              "list_is_active": {
                                "type": "boolean",
                                "title": "List Status",
                                "description": "The status of the list used, namely if it's deleted or disabled.",
                                "readOnly": true
                              },
                              "list_name": {
                                "type": "string",
                                "title": "List Name",
                                "description": "List Name."
                              },
                              "segment_opts": {
                                "type": "object",
                                "title": "Segment Options",
                                "description": "An object representing all segmentation options.",
                                "properties": {
                                  "saved_segment_id": {
                                    "type": "integer",
                                    "title": "Saved Segment ID",
                                    "description": "The id for an existing saved segment."
                                  },
                                  "match": {
                                    "type": "string",
                                    "title": "Match Type",
                                    "description": "Segment match type.",
                                    "enum": [
                                      "any",
                                      "all"
                                    ]
                                  },
                                  "conditions": {
                                    "type": "array",
                                    "title": "Segment Type",
                                    "description": "Segment match conditions. There are multiple possible types, see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "condition_type": {
                                          "type": "string",
                                          "x-value": "NewSubscribers",
                                          "enum": [
                                            "NewSubscribers"
                                          ]
                                        },
                                        "field": {
                                          "type": "string",
                                          "enum": [
                                            "timestamp_opt"
                                          ],
                                          "title": "Segment Field",
                                          "description": "Segment by when people subscribed."
                                        },
                                        "op": {
                                          "type": "string",
                                          "enum": [
                                            "date_within"
                                          ],
                                          "title": "Segment Operator",
                                          "description": "Whe the event took place, namely within a time frame."
                                        },
                                        "value": {
                                          "type": "string",
                                          "title": "Segment Data",
                                          "description": "What type of data to segment on: a specific date, a specific campaign, or the last campaign sent."
                                        },
                                        "extra": {
                                          "type": "string",
                                          "title": "Segment Extra",
                                          "description": "The city or the zip being used to segment against.",
                                          "example": "30318"
                                        },
                                        "addr": {
                                          "type": "string",
                                          "title": "Segment Location Address",
                                          "description": "The address of the target location.",
                                          "example": "Atlanta, GA, USA"
                                        },
                                        "lat": {
                                          "type": "string",
                                          "title": "Segment Location Latitude",
                                          "description": "The latitude of the target location.",
                                          "example": "33.7489954"
                                        },
                                        "lng": {
                                          "type": "string",
                                          "title": "Segment Location Longitude",
                                          "description": "The longitude of the target location.",
                                          "example": "-84.3879824"
                                        }
                                      },
                                      "required": [
                                        "addr",
                                        "condition_type",
                                        "extra",
                                        "field",
                                        "lat",
                                        "lng",
                                        "op",
                                        "value"
                                      ]
                                    }
                                  }
                                }
                              },
                              "store_id": {
                                "type": "string",
                                "title": "Store ID",
                                "description": "The id of the store.",
                                "example": "1a2df69xxx"
                              }
                            }
                          },
                          "settings": {
                            "type": "object",
                            "title": "Automation Campaign Settings",
                            "description": "The settings for the Automation workflow.",
                            "properties": {
                              "title": {
                                "type": "string",
                                "title": "Automation Title",
                                "description": "The title of the Automation."
                              },
                              "from_name": {
                                "type": "string",
                                "title": "From Name",
                                "description": "The 'from' name for the Automation (not an email address)."
                              },
                              "reply_to": {
                                "type": "string",
                                "title": "Reply To Address",
                                "description": "The reply-to email address for the Automation."
                              },
                              "use_conversation": {
                                "type": "boolean",
                                "title": "Conversations",
                                "description": "Whether to use Mailchimp Conversation feature to manage replies"
                              },
                              "to_name": {
                                "type": "string",
                                "title": "To Name",
                                "description": "The Automation's custom 'To' name, typically the first name [audience field](https://mailchimp.com/help/getting-started-with-merge-tags/)."
                              },
                              "authenticate": {
                                "type": "boolean",
                                "title": "Authentication",
                                "description": "Whether Mailchimp [authenticated](https://mailchimp.com/help/about-email-authentication/) the Automation. Defaults to `true`."
                              },
                              "auto_footer": {
                                "type": "boolean",
                                "title": "Auto-Footer",
                                "description": "Whether to automatically append Mailchimp's [default footer](https://mailchimp.com/help/about-campaign-footers/) to the Automation."
                              },
                              "inline_css": {
                                "type": "boolean",
                                "title": "Inline CSS",
                                "description": "Whether to automatically inline the CSS included with the Automation content."
                              }
                            }
                          },
                          "tracking": {
                            "type": "object",
                            "title": "Automation Tracking Options",
                            "description": "The tracking options for the Automation.",
                            "properties": {
                              "opens": {
                                "type": "boolean",
                                "title": "Opens",
                                "description": "Whether to [track opens](https://mailchimp.com/help/about-open-tracking/). Defaults to `true`."
                              },
                              "html_clicks": {
                                "type": "boolean",
                                "title": "HTML Click Tracking",
                                "description": "Whether to [track clicks](https://mailchimp.com/help/enable-and-view-click-tracking/) in the HTML version of the Automation. Defaults to `true`."
                              },
                              "text_clicks": {
                                "type": "boolean",
                                "title": "Plain-Text Click Tracking",
                                "description": "Whether to [track clicks](https://mailchimp.com/help/enable-and-view-click-tracking/) in the plain-text version of the Automation. Defaults to `true`."
                              },
                              "goal_tracking": {
                                "type": "boolean",
                                "title": "Mailchimp Goal Tracking",
                                "description": "Deprecated"
                              },
                              "ecomm360": {
                                "type": "boolean",
                                "title": "E-commerce Tracking",
                                "description": "Whether to enable e-commerce tracking."
                              },
                              "google_analytics": {
                                "type": "string",
                                "title": "Google Analytics Tracking",
                                "description": "The custom slug for [Google Analytics](https://mailchimp.com/help/integrate-google-analytics-with-mailchimp/) tracking (max of 50 bytes)."
                              },
                              "clicktale": {
                                "type": "string",
                                "title": "ClickTale Analytics Tracking",
                                "description": "The custom slug for [ClickTale](https://mailchimp.com/help/additional-tracking-options-for-campaigns/) tracking (max of 50 bytes)."
                              },
                              "salesforce": {
                                "type": "object",
                                "title": "Salesforce CRM Tracking",
                                "description": "Deprecated",
                                "properties": {
                                  "campaign": {
                                    "type": "boolean",
                                    "title": "Salesforce Campaign",
                                    "description": "Create a campaign in a connected Salesforce account."
                                  },
                                  "notes": {
                                    "type": "boolean",
                                    "title": "Salesforce Note",
                                    "description": "Update contact notes for a campaign based on a subscriber's email address."
                                  }
                                }
                              },
                              "capsule": {
                                "type": "object",
                                "title": "Capsule CRM Tracking",
                                "description": "Deprecated",
                                "properties": {
                                  "notes": {
                                    "type": "boolean",
                                    "title": "Capsule Note",
                                    "description": "Update contact notes for a campaign based on a subscriber's email addresses."
                                  }
                                }
                              }
                            }
                          },
                          "trigger_settings": {
                            "type": "object",
                            "title": "Automation Trigger",
                            "description": "Available triggers for Automation workflows.",
                            "required": [
                              "workflow_type"
                            ],
                            "properties": {
                              "workflow_type": {
                                "type": "string",
                                "title": "Workflow Type",
                                "description": "The type of Automation workflow.",
                                "enum": [
                                  "abandonedBrowse",
                                  "abandonedCart",
                                  "api",
                                  "bestCustomers",
                                  "categoryFollowup",
                                  "dateAdded",
                                  "emailFollowup",
                                  "emailSeries",
                                  "groupAdd",
                                  "groupRemove",
                                  "mandrill",
                                  "productFollowup",
                                  "purchaseFollowup",
                                  "recurringEvent",
                                  "specialEvent",
                                  "visitUrl",
                                  "welcomeSeries"
                                ]
                              },
                              "workflow_title": {
                                "type": "string",
                                "title": "Workflow Title",
                                "description": "The title of the workflow type.",
                                "readOnly": true
                              },
                              "runtime": {
                                "type": "object",
                                "title": "Automation Workflow Runtime Settings",
                                "description": "A workflow's runtime settings for an Automation.",
                                "properties": {
                                  "days": {
                                    "type": "array",
                                    "title": "Days",
                                    "description": "The days an Automation workflow can send.",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "sunday",
                                        "monday",
                                        "tuesday",
                                        "wednesday",
                                        "thursday",
                                        "friday",
                                        "saturday"
                                      ]
                                    }
                                  },
                                  "hours": {
                                    "type": "object",
                                    "title": "Hours",
                                    "description": "The hours an Automation workflow can send.",
                                    "required": [
                                      "type"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "title": "Email Send Time Settings",
                                        "description": "When to send the Automation email.",
                                        "enum": [
                                          "send_asap",
                                          "send_between",
                                          "send_at"
                                        ]
                                      }
                                    }
                                  }
                                }
                              },
                              "workflow_emails_count": {
                                "type": "integer",
                                "title": "Workflow Emails Count",
                                "description": "The number of emails in the Automation workflow.",
                                "readOnly": true
                              }
                            }
                          },
                          "report_summary": {
                            "type": "object",
                            "title": "Campaign Report Summary",
                            "description": "A summary of opens and clicks for sent campaigns.",
                            "properties": {
                              "opens": {
                                "type": "integer",
                                "title": "Automation Opens",
                                "description": "The total number of opens for a campaign.",
                                "readOnly": true
                              },
                              "unique_opens": {
                                "type": "integer",
                                "title": "Unique Opens",
                                "description": "The number of unique opens.",
                                "readOnly": true
                              },
                              "open_rate": {
                                "type": "number",
                                "title": "Open Rate",
                                "description": "The number of unique opens divided by the total number of successful deliveries.",
                                "readOnly": true
                              },
                              "clicks": {
                                "type": "integer",
                                "title": "Total Clicks",
                                "description": "The total number of clicks for an campaign.",
                                "readOnly": true
                              },
                              "subscriber_clicks": {
                                "type": "integer",
                                "title": "Unique Subscriber Clicks",
                                "description": "The number of unique clicks.",
                                "readOnly": true
                              },
                              "click_rate": {
                                "type": "number",
                                "title": "Click Rate",
                                "description": "The number of unique clicks, divided by the total number of successful deliveries.",
                                "readOnly": true
                              }
                            }
                          },
                          "_links": {
                            "title": "Links",
                            "description": "A list of link types and descriptions for the API schema documents.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Resource Link",
                              "description": "This object represents a link from the resource where it is found to another resource or action that may be performed.",
                              "properties": {
                                "rel": {
                                  "type": "string",
                                  "title": "Rel",
                                  "description": "As with an HTML 'rel' attribute, this describes the type of link.",
                                  "readOnly": true
                                },
                                "href": {
                                  "type": "string",
                                  "title": "Href",
                                  "description": "This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.",
                                  "readOnly": true
                                },
                                "method": {
                                  "type": "string",
                                  "title": "Method",
                                  "description": "The HTTP method that should be used when accessing the URL defined in 'href'.",
                                  "enum": [
                                    "GET",
                                    "POST",
                                    "PUT",
                                    "PATCH",
                                    "DELETE",
                                    "OPTIONS",
                                    "HEAD"
                                  ],
                                  "readOnly": true
                                },
                                "targetSchema": {
                                  "type": "string",
                                  "title": "Target Schema",
                                  "description": "For GETs, this is a URL representing the schema that the response should conform to.",
                                  "readOnly": true
                                },
                                "schema": {
                                  "type": "string",
                                  "title": "Schema",
                                  "description": "For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.",
                                  "readOnly": true
                                }
                              }
                            },
                            "readOnly": true
                          }
                        }
                      },
                      "title": "Automation Workflows",
                      "description": "An array of objects, each representing an Automation workflow."
                    },
                    "total_items": {
                      "type": "integer",
                      "title": "Item Count",
                      "description": "The total number of items matching the query regardless of pagination.",
                      "readOnly": true
                    },
                    "_links": {
                      "title": "Links",
                      "description": "A list of link types and descriptions for the API schema documents.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Resource Link",
                        "description": "This object represents a link from the resource where it is found to another resource or action that may be performed.",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "title": "Rel",
                            "description": "As with an HTML 'rel' attribute, this describes the type of link.",
                            "readOnly": true
                          },
                          "href": {
                            "type": "string",
                            "title": "Href",
                            "description": "This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.",
                            "readOnly": true
                          },
                          "method": {
                            "type": "string",
                            "title": "Method",
                            "description": "The HTTP method that should be used when accessing the URL defined in 'href'.",
                            "enum": [
                              "GET",
                              "POST",
                              "PUT",
                              "PATCH",
                              "DELETE",
                              "OPTIONS",
                              "HEAD"
                            ],
                            "readOnly": true
                          },
                          "targetSchema": {
                            "type": "string",
                            "title": "Target Schema",
                            "description": "For GETs, this is a URL representing the schema that the response should conform to.",
                            "readOnly": true
                          },
                          "schema": {
                            "type": "string",
                            "title": "Schema",
                            "description": "For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.",
                            "readOnly": true
                          }
                        }
                      },
                      "readOnly": true
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "An array of objects, each representing an Automation workflow.",
                  "properties": {
                    "automations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Automation Workflow",
                        "description": "A summary of an individual Automation workflow's settings and content.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "Automation Campaign ID",
                            "description": "A string that identifies the Automation.",
                            "readOnly": true
                          },
                          "create_time": {
                            "type": "string",
                            "title": "Create Time",
                            "format": "date-time",
                            "description": "The date and time the Automation was created in ISO 8601 format.",
                            "readOnly": true
                          },
                          "start_time": {
                            "type": "string",
                            "title": "Start Time",
                            "format": "date-time",
                            "description": "The date and time the Automation was started in ISO 8601 format.",
                            "readOnly": true
                          },
                          "status": {
                            "type": "string",
                            "title": "Automation Status",
                            "description": "The current status of the Automation.",
                            "enum": [
                              "save",
                              "paused",
                              "sending"
                            ],
                            "readOnly": true
                          },
                          "emails_sent": {
                            "type": "integer",
                            "title": "Emails Sent",
                            "description": "The total number of emails sent for the Automation.",
                            "readOnly": true
                          },
                          "recipients": {
                            "type": "object",
                            "title": "List",
                            "description": "List settings for the Automation.",
                            "properties": {
                              "list_id": {
                                "type": "string",
                                "title": "List ID",
                                "description": "The unique list id."
                              },
                              "list_is_active": {
                                "type": "boolean",
                                "title": "List Status",
                                "description": "The status of the list used, namely if it's deleted or disabled.",
                                "readOnly": true
                              },
                              "list_name": {
                                "type": "string",
                                "title": "List Name",
                                "description": "List Name."
                              },
                              "segment_opts": {
                                "type": "object",
                                "title": "Segment Options",
                                "description": "An object representing all segmentation options.",
                                "properties": {
                                  "saved_segment_id": {
                                    "type": "integer",
                                    "title": "Saved Segment ID",
                                    "description": "The id for an existing saved segment."
                                  },
                                  "match": {
                                    "type": "string",
                                    "title": "Match Type",
                                    "description": "Segment match type.",
                                    "enum": [
                                      "any",
                                      "all"
                                    ]
                                  },
                                  "conditions": {
                                    "type": "array",
                                    "title": "Segment Type",
                                    "description": "Segment match conditions. There are multiple possible types, see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "condition_type": {
                                          "type": "string",
                                          "x-value": "NewSubscribers",
                                          "enum": [
                                            "NewSubscribers"
                                          ]
                                        },
                                        "field": {
                                          "type": "string",
                                          "enum": [
                                            "timestamp_opt"
                                          ],
                                          "title": "Segment Field",
                                          "description": "Segment by when people subscribed."
                                        },
                                        "op": {
                                          "type": "string",
                                          "enum": [
                                            "date_within"
                                          ],
                                          "title": "Segment Operator",
                                          "description": "Whe the event took place, namely within a time frame."
                                        },
                                        "value": {
                                          "type": "string",
                                          "title": "Segment Data",
                                          "description": "What type of data to segment on: a specific date, a specific campaign, or the last campaign sent."
                                        },
                                        "extra": {
                                          "type": "string",
                                          "title": "Segment Extra",
                                          "description": "The city or the zip being used to segment against.",
                                          "example": "30318"
                                        },
                                        "addr": {
                                          "type": "string",
                                          "title": "Segment Location Address",
                                          "description": "The address of the target location.",
                                          "example": "Atlanta, GA, USA"
                                        },
                                        "lat": {
                                          "type": "string",
                                          "title": "Segment Location Latitude",
                                          "description": "The latitude of the target location.",
                                          "example": "33.7489954"
                                        },
                                        "lng": {
                                          "type": "string",
                                          "title": "Segment Location Longitude",
                                          "description": "The longitude of the target location.",
                                          "example": "-84.3879824"
                                        }
                                      },
                                      "required": [
                                        "addr",
                                        "condition_type",
                                        "extra",
                                        "field",
                                        "lat",
                                        "lng",
                                        "op",
                                        "value"
                                      ]
                                    }
                                  }
                                }
                              },
                              "store_id": {
                                "type": "string",
                                "title": "Store ID",
                                "description": "The id of the store.",
                                "example": "1a2df69xxx"
                              }
                            }
                          },
                          "settings": {
                            "type": "object",
                            "title": "Automation Campaign Settings",
                            "description": "The settings for the Automation workflow.",
                            "properties": {
                              "title": {
                                "type": "string",
                                "title": "Automation Title",
                                "description": "The title of the Automation."
                              },
                              "from_name": {
                                "type": "string",
                                "title": "From Name",
                                "description": "The 'from' name for the Automation (not an email address)."
                              },
                              "reply_to": {
                                "type": "string",
                                "title": "Reply To Address",
                                "description": "The reply-to email address for the Automation."
                              },
                              "use_conversation": {
                                "type": "boolean",
                                "title": "Conversations",
                                "description": "Whether to use Mailchimp Conversation feature to manage replies"
                              },
                              "to_name": {
                                "type": "string",
                                "title": "To Name",
                                "description": "The Automation's custom 'To' name, typically the first name [audience field](https://mailchimp.com/help/getting-started-with-merge-tags/)."
                              },
                              "authenticate": {
                                "type": "boolean",
                                "title": "Authentication",
                                "description": "Whether Mailchimp [authenticated](https://mailchimp.com/help/about-email-authentication/) the Automation. Defaults to `true`."
                              },
                              "auto_footer": {
                                "type": "boolean",
                                "title": "Auto-Footer",
                                "description": "Whether to automatically append Mailchimp's [default footer](https://mailchimp.com/help/about-campaign-footers/) to the Automation."
                              },
                              "inline_css": {
                                "type": "boolean",
                                "title": "Inline CSS",
                                "description": "Whether to automatically inline the CSS included with the Automation content."
                              }
                            }
                          },
                          "tracking": {
                            "type": "object",
                            "title": "Automation Tracking Options",
                            "description": "The tracking options for the Automation.",
                            "properties": {
                              "opens": {
                                "type": "boolean",
                                "title": "Opens",
                                "description": "Whether to [track opens](https://mailchimp.com/help/about-open-tracking/). Defaults to `true`."
                              },
                              "html_clicks": {
                                "type": "boolean",
                                "title": "HTML Click Tracking",
                                "description": "Whether to [track clicks](https://mailchimp.com/help/enable-and-view-click-tracking/) in the HTML version of the Automation. Defaults to `true`."
                              },
                              "text_clicks": {
                                "type": "boolean",
                                "title": "Plain-Text Click Tracking",
                                "description": "Whether to [track clicks](https://mailchimp.com/help/enable-and-view-click-tracking/) in the plain-text version of the Automation. Defaults to `true`."
                              },
                              "goal_tracking": {
                                "type": "boolean",
                                "title": "Mailchimp Goal Tracking",
                                "description": "Deprecated"
                              },
                              "ecomm360": {
                                "type": "boolean",
                                "title": "E-commerce Tracking",
                                "description": "Whether to enable e-commerce tracking."
                              },
                              "google_analytics": {
                                "type": "string",
                                "title": "Google Analytics Tracking",
                                "description": "The custom slug for [Google Analytics](https://mailchimp.com/help/integrate-google-analytics-with-mailchimp/) tracking (max of 50 bytes)."
                              },
                              "clicktale": {
                                "type": "string",
                                "title": "ClickTale Analytics Tracking",
                                "description": "The custom slug for [ClickTale](https://mailchimp.com/help/additional-tracking-options-for-campaigns/) tracking (max of 50 bytes)."
                              },
                              "salesforce": {
                                "type": "object",
                                "title": "Salesforce CRM Tracking",
                                "description": "Deprecated",
                                "properties": {
                                  "campaign": {
                                    "type": "boolean",
                                    "title": "Salesforce Campaign",
                                    "description": "Create a campaign in a connected Salesforce account."
                                  },
                                  "notes": {
                                    "type": "boolean",
                                    "title": "Salesforce Note",
                                    "description": "Update contact notes for a campaign based on a subscriber's email address."
                                  }
                                }
                              },
                              "capsule": {
                                "type": "object",
                                "title": "Capsule CRM Tracking",
                                "description": "Deprecated",
                                "properties": {
                                  "notes": {
                                    "type": "boolean",
                                    "title": "Capsule Note",
                                    "description": "Update contact notes for a campaign based on a subscriber's email addresses."
                                  }
                                }
                              }
                            }
                          },
                          "trigger_settings": {
                            "type": "object",
                            "title": "Automation Trigger",
                            "description": "Available triggers for Automation workflows.",
                            "required": [
                              "workflow_type"
                            ],
                            "properties": {
                              "workflow_type": {
                                "type": "string",
                                "title": "Workflow Type",
                                "description": "The type of Automation workflow.",
                                "enum": [
                                  "abandonedBrowse",
                                  "abandonedCart",
                                  "api",
                                  "bestCustomers",
                                  "categoryFollowup",
                                  "dateAdded",
                                  "emailFollowup",
                                  "emailSeries",
                                  "groupAdd",
                                  "groupRemove",
                                  "mandrill",
                                  "productFollowup",
                                  "purchaseFollowup",
                                  "recurringEvent",
                                  "specialEvent",
                                  "visitUrl",
                                  "welcomeSeries"
                                ]
                              },
                              "workflow_title": {
                                "type": "string",
                                "title": "Workflow Title",
                                "description": "The title of the workflow type.",
                                "readOnly": true
                              },
                              "runtime": {
                                "type": "object",
                                "title": "Automation Workflow Runtime Settings",
                                "description": "A workflow's runtime settings for an Automation.",
                                "properties": {
                                  "days": {
                                    "type": "array",
                                    "title": "Days",
                                    "description": "The days an Automation workflow can send.",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "sunday",
                                        "monday",
                                        "tuesday",
                                        "wednesday",
                                        "thursday",
                                        "friday",
                                        "saturday"
                                      ]
                                    }
                                  },
                                  "hours": {
                                    "type": "object",
                                    "title": "Hours",
                                    "description": "The hours an Automation workflow can send.",
                                    "required": [
                                      "type"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "title": "Email Send Time Settings",
                                        "description": "When to send the Automation email.",
                                        "enum": [
                                          "send_asap",
                                          "send_between",
                                          "send_at"
                                        ]
                                      }
                                    }
                                  }
                                }
                              },
                              "workflow_emails_count": {
                                "type": "integer",
                                "title": "Workflow Emails Count",
                                "description": "The number of emails in the Automation workflow.",
                                "readOnly": true
                              }
                            }
                          },
                          "report_summary": {
                            "type": "object",
                            "title": "Campaign Report Summary",
                            "description": "A summary of opens and clicks for sent campaigns.",
                            "properties": {
                              "opens": {
                                "type": "integer",
                                "title": "Automation Opens",
                                "description": "The total number of opens for a campaign.",
                                "readOnly": true
                              },
                              "unique_opens": {
                                "type": "integer",
                                "title": "Unique Opens",
                                "description": "The number of unique opens.",
                                "readOnly": true
                              },
                              "open_rate": {
                                "type": "number",
                                "title": "Open Rate",
                                "description": "The number of unique opens divided by the total number of successful deliveries.",
                                "readOnly": true
                              },
                              "clicks": {
                                "type": "integer",
                                "title": "Total Clicks",
                                "description": "The total number of clicks for an campaign.",
                                "readOnly": true
                              },
                              "subscriber_clicks": {
                                "type": "integer",
                                "title": "Unique Subscriber Clicks",
                                "description": "The number of unique clicks.",
                                "readOnly": true
                              },
                              "click_rate": {
                                "type": "number",
                                "title": "Click Rate",
                                "description": "The number of unique clicks, divided by the total number of successful deliveries.",
                                "readOnly": true
                              }
                            }
                          },
                          "_links": {
                            "title": "Links",
                            "description": "A list of link types and descriptions for the API schema documents.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Resource Link",
                              "description": "This object represents a link from the resource where it is found to another resource or action that may be performed.",
                              "properties": {
                                "rel": {
                                  "type": "string",
                                  "title": "Rel",
                                  "description": "As with an HTML 'rel' attribute, this describes the type of link.",
                                  "readOnly": true
                                },
                                "href": {
                                  "type": "string",
                                  "title": "Href",
                                  "description": "This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.",
                                  "readOnly": true
                                },
                                "method": {
                                  "type": "string",
                                  "title": "Method",
                                  "description": "The HTTP method that should be used when accessing the URL defined in 'href'.",
                                  "enum": [
                                    "GET",
                                    "POST",
                                    "PUT",
                                    "PATCH",
                                    "DELETE",
                                    "OPTIONS",
                                    "HEAD"
                                  ],
                                  "readOnly": true
                                },
                                "targetSchema": {
                                  "type": "string",
                                  "title": "Target Schema",
                                  "description": "For GETs, this is a URL representing the schema that the response should conform to.",
                                  "readOnly": true
                                },
                                "schema": {
                                  "type": "string",
                                  "title": "Schema",
                                  "description": "For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.",
                                  "readOnly": true
                                }
                              }
                            },
                            "readOnly": true
                          }
                        }
                      },
                      "title": "Automation Workflows",
                      "description": "An array of objects, each representing an Automation workflow."
                    },
                    "total_items": {
                      "type": "integer",
                      "title": "Item Count",
                      "description": "The total number of items matching the query regardless of pagination.",
                      "readOnly": true
                    },
                    "_links": {
                      "title": "Links",
                      "description": "A list of link types and descriptions for the API schema documents.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Resource Link",
                        "description": "This object represents a link from the resource where it is found to another resource or action that may be performed.",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "title": "Rel",
                            "description": "As with an HTML 'rel' attribute, this describes the type of link.",
                            "readOnly": true
                          },
                          "href": {
                            "type": "string",
                            "title": "Href",
                            "description": "This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.",
                            "readOnly": true
                          },
                          "method": {
                            "type": "string",
                            "title": "Method",
                            "description": "The HTTP method that should be used when accessing the URL defined in 'href'.",
                            "enum": [
                              "GET",
                              "POST",
                              "PUT",
                              "PATCH",
                              "DELETE",
                              "OPTIONS",
                              "HEAD"
                            ],
                            "readOnly": true
                          },
                          "targetSchema": {
                            "type": "string",
                            "title": "Target Schema",
                            "description": "For GETs, this is a URL representing the schema that the response should conform to.",
                            "readOnly": true
                          },
                          "schema": {
                            "type": "string",
                            "title": "Schema",
                            "description": "For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.",
                            "readOnly": true
                          }
                        }
                      },
                      "readOnly": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error generated by the Mailchimp API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Problem Detail Document",
                  "description": "An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "instance"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "title": "Problem Type",
                      "description": "An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.",
                      "example": "https://mailchimp.com/developer/marketing/docs/errors/"
                    },
                    "title": {
                      "type": "string",
                      "title": "Error Title",
                      "description": "A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.",
                      "example": "Resource Not Found"
                    },
                    "status": {
                      "type": "integer",
                      "title": "HTTP Status Code",
                      "description": "The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.",
                      "example": 404
                    },
                    "detail": {
                      "type": "string",
                      "title": "Error Message",
                      "description": "A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).",
                      "example": "The requested resource could not be found."
                    },
                    "instance": {
                      "type": "string",
                      "title": "Instance ID",
                      "description": "A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.",
                      "example": "995c5cb0-3280-4a6e-808b-3b096d0bb219"
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "title": "Problem Detail Document",
                  "description": "An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "instance"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "title": "Problem Type",
                      "description": "An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.",
                      "example": "https://mailchimp.com/developer/marketing/docs/errors/"
                    },
                    "title": {
                      "type": "string",
                      "title": "Error Title",
                      "description": "A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.",
                      "example": "Resource Not Found"
                    },
                    "status": {
                      "type": "integer",
                      "title": "HTTP Status Code",
                      "description": "The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.",
                      "example": 404
                    },
                    "detail": {
                      "type": "string",
                      "title": "Error Message",
                      "description": "A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).",
                      "example": "The requested resource could not be found."
                    },
                    "instance": {
                      "type": "string",
                      "title": "Instance ID",
                      "description": "A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.",
                      "example": "995c5cb0-3280-4a6e-808b-3b096d0bb219"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "automations"
        ],
        "x-custom-config": {
          "methodNameSnake": "list",
          "methodNameCamel": "list"
        }
      },
      "post": {
        "summary": "Add automation",
        "description": "Create a new classic automation in your Mailchimp account.",
        "operationId": "postAutomations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Automation Workflow",
                "description": "A summary of an individual Automation workflow's settings and content.",
                "required": [
                  "recipients",
                  "trigger_settings"
                ],
                "properties": {
                  "recipients": {
                    "type": "object",
                    "title": "List",
                    "description": "List settings for the Automation.",
                    "properties": {
                      "list_id": {
                        "type": "string",
                        "title": "List ID",
                        "description": "The id of the List.",
                        "example": "1a2df69xxx"
                      },
                      "store_id": {
                        "type": "string",
                        "title": "Store ID",
                        "description": "The id of the store.",
                        "example": "1a2df69xxx"
                      }
                    }
                  },
                  "settings": {
                    "type": "object",
                    "title": "Automation Campaign Settings",
                    "description": "The settings for the Automation workflow.",
                    "properties": {
                      "from_name": {
                        "type": "string",
                        "title": "From Name",
                        "description": "The 'from' name for the Automation (not an email address)."
                      },
                      "reply_to": {
                        "type": "string",
                        "title": "Reply To Address",
                        "description": "The reply-to email address for the Automation."
                      }
                    }
                  },
                  "trigger_settings": {
                    "type": "object",
                    "title": "Automation Trigger",
                    "description": "Trigger settings for the Automation.",
                    "required": [
                      "workflow_type"
                    ],
                    "properties": {
                      "workflow_type": {
                        "type": "string",
                        "title": "Workflow Type",
                        "description": "The type of Automation workflow. Currently only supports 'abandonedCart'."
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Automation Workflow",
                  "description": "A summary of an individual Automation workflow's settings and content.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "Automation Campaign ID",
                      "description": "A string that identifies the Automation.",
                      "readOnly": true
                    },
                    "create_time": {
                      "type": "string",
                      "title": "Create Time",
                      "format": "date-time",
                      "description": "The date and time the Automation was created in ISO 8601 format.",
                      "readOnly": true
                    },
                    "start_time": {
                      "type": "string",
                      "title": "Start Time",
                      "format": "date-time",
                      "description": "The date and time the Automation was started in ISO 8601 format.",
                      "readOnly": true
                    },
                    "status": {
                      "type": "string",
                      "title": "Automation Status",
                      "description": "The current status of the Automation.",
                      "enum": [
                        "save",
                        "paused",
                        "sending"
                      ],
                      "readOnly": true
                    },
                    "emails_sent": {
                      "type": "integer",
                      "title": "Emails Sent",
                      "description": "The total number of emails sent for the Automation.",
                      "readOnly": true
                    },
                    "recipients": {
                      "type": "object",
                      "title": "List",
                      "description": "List settings for the Automation.",
                      "properties": {
                        "list_id": {
                          "type": "string",
                          "title": "List ID",
                          "description": "The unique list id."
                        },
                        "list_is_active": {
                          "type": "boolean",
                          "title": "List Status",
                          "description": "The status of the list used, namely if it's deleted or disabled.",
                          "readOnly": true
                        },
                        "list_name": {
                          "type": "string",
                          "title": "List Name",
                          "description": "List Name."
                        },
                        "segment_opts": {
                          "type": "object",
                          "title": "Segment Options",
                          "description": "An object representing all segmentation options.",
                          "properties": {
                            "saved_segment_id": {
                              "type": "integer",
                              "title": "Saved Segment ID",
                              "description": "The id for an existing saved segment."
                            },
                            "match": {
                              "type": "string",
                              "title": "Match Type",
                              "description": "Segment match type.",
                              "enum": [
                                "any",
                                "all"
                              ]
                            },
                            "conditions": {
                              "type": "array",
                              "title": "Segment Type",
                              "description": "Segment match conditions. There are multiple possible types, see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "condition_type": {
                                    "type": "string",
                                    "x-value": "NewSubscribers",
                                    "enum": [
                                      "NewSubscribers"
                                    ]
                                  },
                                  "field": {
                                    "type": "string",
                                    "enum": [
                                      "timestamp_opt"
                                    ],
                                    "title": "Segment Field",
                                    "description": "Segment by when people subscribed."
                                  },
                                  "op": {
                                    "type": "string",
                                    "enum": [
                                      "date_within"
                                    ],
                                    "title": "Segment Operator",
                                    "description": "Whe the event took place, namely within a time frame."
                                  },
                                  "value": {
                                    "type": "string",
                                    "title": "Segment Data",
                                    "description": "What type of data to segment on: a specific date, a specific campaign, or the last campaign sent."
                                  },
                                  "extra": {
                                    "type": "string",
                                    "title": "Segment Extra",
                                    "description": "The city or the zip being used to segment against.",
                                    "example": "30318"
                                  },
                                  "addr": {
                                    "type": "string",
                                    "title": "Segment Location Address",
                                    "description": "The address of the target location.",
                                    "example": "Atlanta, GA, USA"
                                  },
                                  "lat": {
                                    "type": "string",
                                    "title": "Segment Location Latitude",
                                    "description": "The latitude of the target location.",
                                    "example": "33.7489954"
                                  },
                                  "lng": {
                                    "type": "string",
                                    "title": "Segment Location Longitude",
                                    "description": "The longitude of the target location.",
                                    "example": "-84.3879824"
                                  }
                                },
                                "required": [
                                  "addr",
                                  "condition_type",
                                  "extra",
                                  "field",
                                  "lat",
                                  "lng",
                                  "op",
                                  "value"
                                ]
                              }
                            }
                          }
                        },
                        "store_id": {
                          "type": "string",
                          "title": "Store ID",
                          "description": "The id of the store.",
                          "example": "1a2df69xxx"
                        }
                      }
                    },
                    "settings": {
                      "type": "object",
                      "title": "Automation Campaign Settings",
                      "description": "The settings for the Automation workflow.",
                      "properties": {
                        "title": {
                          "type": "string",
                          "title": "Automation Title",
                          "description": "The title of the Automation."
                        },
                        "from_name": {
                          "type": "string",
                          "title": "From Name",
                          "description": "The 'from' name for the Automation (not an email address)."
                        },
                        "reply_to": {
                          "type": "string",
                          "title": "Reply To Address",
                          "description": "The reply-to email address for the Automation."
                        },
                        "use_conversation": {
                          "type": "boolean",
                          "title": "Conversations",
                          "description": "Whether to use Mailchimp Conversation feature to manage replies"
                        },
                        "to_name": {
                          "type": "string",
                          "title": "To Name",
                          "description": "The Automation's custom 'To' name, typically the first name [audience field](https://mailchimp.com/help/getting-started-with-merge-tags/)."
                        },
                        "authenticate": {
                          "type": "boolean",
                          "title": "Authentication",
                          "description": "Whether Mailchimp [authenticated](https://mailchimp.com/help/about-email-authentication/) the Automation. Defaults to `true`."
                        },
                        "auto_footer": {
                          "type": "boolean",
                          "title": "Auto-Footer",
                          "description": "Whether to automatically append Mailchimp's [default footer](https://mailchimp.com/help/about-campaign-footers/) to the Automation."
                        },
                        "inline_css": {
                          "type": "boolean",
                          "title": "Inline CSS",
                          "description": "Whether to automatically inline the CSS included with the Automation content."
                        }
                      }
                    },
                    "tracking": {
                      "type": "object",
                      "title": "Automation Tracking Options",
                      "description": "The tracking options for the Automation.",
                      "properties": {
                        "opens": {
                          "type": "boolean",
                          "title": "Opens",
                          "description": "Whether to [track opens](https://mailchimp.com/help/about-open-tracking/). Defaults to `true`."
                        },
                        "html_clicks": {
                          "type": "boolean",
                          "title": "HTML Click Tracking",
                          "description": "Whether to [track clicks](https://mailchimp.com/help/enable-and-view-click-tracking/) in the HTML version of the Automation. Defaults to `true`."
                        },
                        "text_clicks": {
                          "type": "boolean",
                          "title": "Plain-Text Click Tracking",
                          "description": "Whether to [track clicks](https://mailchimp.com/help/enable-and-view-click-tracking/) in the plain-text version of the Automation. Defaults to `true`."
                        },
                        "goal_tracking": {
                          "type": "boolean",
                          "title": "Mailchimp Goal Tracking",
                          "description": "Deprecated"
                        },
                        "ecomm360": {
                          "type": "boolean",
                          "title": "E-commerce Tracking",
                          "description": "Whether to enable e-commerce tracking."
                        },
                        "google_analytics": {
                          "type": "string",
                          "title": "Google Analytics Tracking",
                          "description": "The custom slug for [Google Analytics](https://mailchimp.com/help/integrate-google-analytics-with-mailchimp/) tracking (max of 50 bytes)."
                        },
                        "clicktale": {
                          "type": "string",
                          "title": "ClickTale Analytics Tracking",
                          "description": "The custom slug for [ClickTale](https://mailchimp.com/help/additional-tracking-options-for-campaigns/) tracking (max of 50 bytes)."
                        },
                        "salesforce": {
                          "type": "object",
                          "title": "Salesforce CRM Tracking",
                          "description": "Deprecated",
                          "properties": {
                            "campaign": {
                              "type": "boolean",
                              "title": "Salesforce Campaign",
                              "description": "Create a campaign in a connected Salesforce account."
                            },
                            "notes": {
                              "type": "boolean",
                              "title": "Salesforce Note",
                              "description": "Update contact notes for a campaign based on a subscriber's email address."
                            }
                          }
                        },
                        "capsule": {
                          "type": "object",
                          "title": "Capsule CRM Tracking",
                          "description": "Deprecated",
                          "properties": {
                            "notes": {
                              "type": "boolean",
                              "title": "Capsule Note",
                              "description": "Update contact notes for a campaign based on a subscriber's email addresses."
                            }
                          }
                        }
                      }
                    },
                    "trigger_settings": {
                      "type": "object",
                      "title": "Automation Trigger",
                      "description": "Available triggers for Automation workflows.",
                      "required": [
                        "workflow_type"
                      ],
                      "properties": {
                        "workflow_type": {
                          "type": "string",
                          "title": "Workflow Type",
                          "description": "The type of Automation workflow.",
                          "enum": [
                            "abandonedBrowse",
                            "abandonedCart",
                            "api",
                            "bestCustomers",
                            "categoryFollowup",
                            "dateAdded",
                            "emailFollowup",
                            "emailSeries",
                            "groupAdd",
                            "groupRemove",
                            "mandrill",
                            "productFollowup",
                            "purchaseFollowup",
                            "recurringEvent",
                            "specialEvent",
                            "visitUrl",
                            "welcomeSeries"
                          ]
                        },
                        "workflow_title": {
                          "type": "string",
                          "title": "Workflow Title",
                          "description": "The title of the workflow type.",
                          "readOnly": true
                        },
                        "runtime": {
                          "type": "object",
                          "title": "Automation Workflow Runtime Settings",
                          "description": "A workflow's runtime settings for an Automation.",
                          "properties": {
                            "days": {
                              "type": "array",
                              "title": "Days",
                              "description": "The days an Automation workflow can send.",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "sunday",
                                  "monday",
                                  "tuesday",
                                  "wednesday",
                                  "thursday",
                                  "friday",
                                  "saturday"
                                ]
                              }
                            },
                            "hours": {
                              "type": "object",
                              "title": "Hours",
                              "description": "The hours an Automation workflow can send.",
                              "required": [
                                "type"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "title": "Email Send Time Settings",
                                  "description": "When to send the Automation email.",
                                  "enum": [
                                    "send_asap",
                                    "send_between",
                                    "send_at"
                                  ]
                                }
                              }
                            }
                          }
                        },
                        "workflow_emails_count": {
                          "type": "integer",
                          "title": "Workflow Emails Count",
                          "description": "The number of emails in the Automation workflow.",
                          "readOnly": true
                        }
                      }
                    },
                    "report_summary": {
                      "type": "object",
                      "title": "Campaign Report Summary",
                      "description": "A summary of opens and clicks for sent campaigns.",
                      "properties": {
                        "opens": {
                          "type": "integer",
                          "title": "Automation Opens",
                          "description": "The total number of opens for a campaign.",
                          "readOnly": true
                        },
                        "unique_opens": {
                          "type": "integer",
                          "title": "Unique Opens",
                          "description": "The number of unique opens.",
                          "readOnly": true
                        },
                        "open_rate": {
                          "type": "number",
                          "title": "Open Rate",
                          "description": "The number of unique opens divided by the total number of successful deliveries.",
                          "readOnly": true
                        },
                        "clicks": {
                          "type": "integer",
                          "title": "Total Clicks",
                          "description": "The total number of clicks for an campaign.",
                          "readOnly": true
                        },
                        "subscriber_clicks": {
                          "type": "integer",
                          "title": "Unique Subscriber Clicks",
                          "description": "The number of unique clicks.",
                          "readOnly": true
                        },
                        "click_rate": {
                          "type": "number",
                          "title": "Click Rate",
                          "description": "The number of unique clicks, divided by the total number of successful deliveries.",
                          "readOnly": true
                        }
                      }
                    },
                    "_links": {
                      "title": "Links",
                      "description": "A list of link types and descriptions for the API schema documents.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Resource Link",
                        "description": "This object represents a link from the resource where it is found to another resource or action that may be performed.",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "title": "Rel",
                            "description": "As with an HTML 'rel' attribute, this describes the type of link.",
                            "readOnly": true
                          },
                          "href": {
                            "type": "string",
                            "title": "Href",
                            "description": "This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.",
                            "readOnly": true
                          },
                          "method": {
                            "type": "string",
                            "title": "Method",
                            "description": "The HTTP method that should be used when accessing the URL defined in 'href'.",
                            "enum": [
                              "GET",
                              "POST",
                              "PUT",
                              "PATCH",
                              "DELETE",
                              "OPTIONS",
                              "HEAD"
                            ],
                            "readOnly": true
                          },
                          "targetSchema": {
                            "type": "string",
                            "title": "Target Schema",
                            "description": "For GETs, this is a URL representing the schema that the response should conform to.",
                            "readOnly": true
                          },
                          "schema": {
                            "type": "string",
                            "title": "Schema",
                            "description": "For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.",
                            "readOnly": true
                          }
                        }
                      },
                      "readOnly": true
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "title": "Automation Workflow",
                  "description": "A summary of an individual Automation workflow's settings and content.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "Automation Campaign ID",
                      "description": "A string that identifies the Automation.",
                      "readOnly": true
                    },
                    "create_time": {
                      "type": "string",
                      "title": "Create Time",
                      "format": "date-time",
                      "description": "The date and time the Automation was created in ISO 8601 format.",
                      "readOnly": true
                    },
                    "start_time": {
                      "type": "string",
                      "title": "Start Time",
                      "format": "date-time",
                      "description": "The date and time the Automation was started in ISO 8601 format.",
                      "readOnly": true
                    },
                    "status": {
                      "type": "string",
                      "title": "Automation Status",
                      "description": "The current status of the Automation.",
                      "enum": [
                        "save",
                        "paused",
                        "sending"
                      ],
                      "readOnly": true
                    },
                    "emails_sent": {
                      "type": "integer",
                      "title": "Emails Sent",
                      "description": "The total number of emails sent for the Automation.",
                      "readOnly": true
                    },
                    "recipients": {
                      "type": "object",
                      "title": "List",
                      "description": "List settings for the Automation.",
                      "properties": {
                        "list_id": {
                          "type": "string",
                          "title": "List ID",
                          "description": "The unique list id."
                        },
                        "list_is_active": {
[...]
